*.o
*.lo
*.la
*.swp
*.ncb
*.opt
*.orig
*.aps
*.clw
*.plg
*.user
*.rej
*.vpj
*.vws
*.map
*.tmp
*.vcxproj.filters
*.vcxproj.user
*.suo
*.sdf
*.opensdf
ipch
bin
obj
gen
assets
Log
Debug
Release
Env
Debug.win32
project.xcworkspace
xcuserdata